.indexact {
	background: #11e497;
	border-radius: 0.3em;
	box-shadow: 0 0.5em 0.5em -0.4em rgb(29, 136, 8);
}

.indexact a {
	color: #181725;
}


  .carousel{
	margin-top: 50px;
  }
  .carousel-inner{
	height: 100px;
  }
  .carousel-caption{
	color: #fff;
  }

  .addgrades{
	background-color: #11e497;
  }

  .bordcol-overrides{
	border-color:#11e497;
  }