{% extends 'dashboard/base.html' %} {% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="{% static 'frontend/addgrades.js' %}"></script>
</head>

<body>
	<link rel="stylesheet" href="{% static 'css/interviewarchive.css' %}" />
	<div class=" container-fluid mainbody col-md-10 p-5" id="mainbody">
		<div class="row">
			<h1 style="display:inline-block"><strong> The Archive</strong></h1>
			<button class="multi-collapse-button bi bi-list align-self-end" type="button" data-bs-toggle="collapse" data-bs-target=".collapse" aria-expanded="false" aria-controls="controls"></button>
		</div>
		<!-- Start of Computer Science -->
		<div class="accordion compsci" id="accordionCompsci">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="controls">Computer Science</button>
				</h2>
				<div id="collapseOne" class="container-fluid p-0 accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionCompsci">
					<div class="row accordion-body">
						<div class="col p-3">
							<div>
								<div class="py-3 border bordcol rounded p-3">
									<div class="h5">Improving Code Readability</div>
									<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/b4pCjnAE7zk"
										title="YouTube video player" frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
										allowfullscreen></iframe>
									<button type="button" class="btn btn-danger" data-bs-placement="top"
										data-bs-custom-class="custom-tooltip">
										Criterion A
									</button>
									<button type="button" class="btn btn-primary" data-bs-placement="top"
										data-bs-custom-class="custom-tooltip">
										Criterion B
									</button>
									<button type="button" class="btn btn-warning" data-bs-placement="top"
										data-bs-custom-class="custom-tooltip">
										Criterion D
									</button>
								</div>
							</div>
						</div>
						<div class="col p-3">
							<div>
								<div class="py-3 border bordcol rounded p-3">
									<div class="h5">Consolidating Knowledge</div>
									<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/C6jVcqBacO8"
										title="YouTube video player" frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
										allowfullscreen></iframe>
									<button type="button" class="btn btn-danger" data-bs-placement="top"
										data-bs-custom-class="custom-tooltip">
										Criterion A
									</button>
									<button type="button" class="btn btn-info" data-bs-placement="top"
										data-bs-custom-class="custom-tooltip">
										Criterion D
									</button>
								</div>
							</div>
						</div>
						<div class="col p-3">
							<div>
								<div class="py-3 border bordcol rounded p-3">
									<div class="h5">Decoding Problems</div>
									<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/f7JwN0gr_ww"
										title="YouTube video player" frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
										allowfullscreen></iframe>
									<button type="button" class="btn btn-primary" data-bs-placement="top"
										data-bs-custom-class="custom-tooltip">
										Criterion B
									</button>
									<button type="button" class="btn btn-warning" data-bs-placement="top"
										data-bs-custom-class="custom-tooltip">
										Criterion C
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion my-5" id="accordionChinese">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingTwo">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
						aria-expanded="true" aria-controls="collapseTwo">
						Chinese
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
					data-bs-parent="#accordionChinese">
					<div class="container-fluid p-0">
						<div class="row">
							<div class="col p-3">
								<div class="overflow-auto">
									<div class="py-3 border bordcol rounded p-3">
										<div class="h5">Title</div>
										<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/b4pCjnAE7zk"
											title="YouTube video player" frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
											allowfullscreen></iframe>
										<button type="button" class="btn btn-danger" data-bs-placement="top"
											data-bs-custom-class="custom-tooltip">
											Criterion A
										</button>
										<button type="button" class="btn btn-primary" data-bs-placement="top"
											data-bs-custom-class="custom-tooltip">
											Criterion B
										</button>
										<button type="button" class="btn btn-warning" data-bs-placement="top"
											data-bs-custom-class="custom-tooltip">
											Criterion D
										</button>
									</div>
								</div>
							</div>
							<div class="col p-3">
								<div class="overflow-auto">
									<div class="py-3 border bordcol rounded p-3">
										<div class="h5">Title</div>
										<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/C6jVcqBacO8"
											title="YouTube video player" frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
											allowfullscreen></iframe>
										<button type="button" class="btn btn-danger" data-bs-placement="top"
											data-bs-custom-class="custom-tooltip">
											Criterion A
										</button>
										<button type="button" class="btn btn-info" data-bs-placement="top"
											data-bs-custom-class="custom-tooltip">
											Criterion D
										</button>
									</div>
								</div>
							</div>
							<div class="col p-3">
								<div class="overflow-auto">
									<div class="py-3 border bordcol rounded p-3">
										<div class="h5">Title</div>
										<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/f7JwN0gr_ww"
											title="YouTube video player" frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
											allowfullscreen></iframe>
										<button type="button" class="btn btn-primary" data-bs-placement="top"
											data-bs-custom-class="custom-tooltip">
											Criterion B
										</button>
										<button type="button" class="btn btn-warning" data-bs-placement="top"
											data-bs-custom-class="custom-tooltip">
											Criterion C
										</button>
									</div>
								</div>
							</div>
							<div class="col p-3">
								<div class="overflow-auto">
									<div class="py-3 border bordcol rounded p-3">
										<div class="h5">Title</div>
										<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/f7JwN0gr_ww"
											title="YouTube video player" frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
											allowfullscreen></iframe>
										<button type="button" class="btn btn-primary" data-bs-placement="top"
											data-bs-custom-class="custom-tooltip">
											Criterion B
										</button>
										<button type="button" class="btn btn-warning" data-bs-placement="top"
											data-bs-custom-class="custom-tooltip">
											Criterion C
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion my-5" id="accordionDT">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingThree">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
						aria-expanded="true" aria-controls="collapseThree">
						Design Technology
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
					data-bs-parent="#accordionDT">
					<div class="accordion-body">
						<div class="container-fluid p-0">
							<div class="row">
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/b4pCjnAE7zk"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-danger" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion A
											</button>
											<button type="button" class="btn btn-primary" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion B
											</button>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion D
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/C6jVcqBacO8"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-danger" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion A
											</button>
											<button type="button" class="btn btn-info" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion D
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/f7JwN0gr_ww"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-primary" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion B
											</button>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion C
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/f7JwN0gr_ww"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-primary" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion B
											</button>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion C
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion my-5" id="accordionINS">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingFour">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
						aria-expanded="true" aria-controls="collapseFour">
						Individuals and Societies
					</button>
				</h2>
				<div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour"
					data-bs-parent="#accordionINS">
					<div class="accordion-body">
						<div class="container-fluid p-0">
							<div class="row">
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/b4pCjnAE7zk"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-danger" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion A
											</button>
											<button type="button" class="btn btn-primary" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion B
											</button>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion D
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/C6jVcqBacO8"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-danger" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion A
											</button>
											<button type="button" class="btn btn-info" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion D
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/f7JwN0gr_ww"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-primary" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion B
											</button>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion C
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/f7JwN0gr_ww"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-primary" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion B
											</button>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion C
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion" id="accordionMath">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingFive">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
						aria-expanded="true" aria-controls="collapseFive">
						Math
					</button>
				</h2>
				<div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive"
					data-bs-parent="#accordionMath">
					<div class="accordion-body">
						<div class="container-fluid p-0">
							<div class="row">
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Revising Efficiently</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/M9Rrf9-yWxw"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-danger" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion A
											</button>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion C
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Improving your Justifications</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/CAtw6yDRPe4"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-primary" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion B
											</button>
											<button type="button" class="btn btn-info" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion D
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Improving your Communication</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/AEtk2xNQlno"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion C
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Real-life Applications of Math</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/wUlZjCYIVsE"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-info" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion D
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion my-5" id="accordionMusic">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingSix">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
						aria-expanded="true" aria-controls="collapseSix">
						Music
					</button>
				</h2>
				<div id="collapseSix" class="accordion-collapse collapse show" aria-labelledby="headingSix"
					data-bs-parent="#accordionMusic">
					<div class="accordion-body">
						<div class="container-fluid p-0">
							<div class="row">
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Using Musical Terminology</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/S3wut-dKavw"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-danger" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion A
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Exploring and Implementing Ideas</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/dC5d6wzEUpo"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-primary" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion B
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Implementing Musical Techniques</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/RcHJJ7YDLUI"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion C
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Global Impact</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/SMVNGXIEuNw"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-info" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion D
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="accordion my-5" id="accordionSciences">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingSeven">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
						aria-expanded="true" aria-controls="collapseSeven">
						Sciences
					</button>
				</h2>
				<div id="collapseSeven" class="accordion-collapse collapse show" aria-labelledby="headingSeven"
					data-bs-parent="#accordionSciences">
					<div class="accordion-body">
						<div class="container-fluid p-0">
							<div class="row">
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/S3wut-dKavw"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-danger" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion A
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/dC5d6wzEUpo"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-primary" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion B
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/RcHJJ7YDLUI"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion C
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/SMVNGXIEuNw"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-info" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion D
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion my-5" id="accordionVA">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingEight">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight"
						aria-expanded="true" aria-controls="collapseEight">
						Visual Arts
					</button>
				</h2>
				<div id="collapseEight" class="accordion-collapse collapse show" aria-labelledby="headingEight"
					data-bs-parent="#accordionVA">
					<div class="accordion-body">
						<div class="container-fluid p-0">
							<div class="row">
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/S3wut-dKavw"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-danger" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion A
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/dC5d6wzEUpo"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-primary" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion B
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/RcHJJ7YDLUI"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-warning" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion C
											</button>
										</div>
									</div>
								</div>
								<div class="col p-3">
									<div class="overflow-auto">
										<div class="py-3 border bordcol rounded p-3">
											<div class="h5">Title</div>
											<iframe style="width: 100%; height: 25vh;" src="https://www.youtube.com/embed/SMVNGXIEuNw"
												title="YouTube video player" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>
											<button type="button" class="btn btn-info" data-bs-placement="top"
												data-bs-custom-class="custom-tooltip">
												Criterion D
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	{% endblock content %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
</body>

</html>