{% extends 'dashboard/grbase.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
		<script src="js/bootstrap.js"></script>
	</head>

	<body>
		<!-- title -->
		{% block content %}
		<h1> Your <strong>Chinese</strong> Grades.</h1>
		{% endblock content %}

<!-- Graph for grades -->
		{% block content2 %}
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
		<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
		<script type="text/javascript">
			$.get('{% url "line_chart_json" %}', function (data) {
				var ctx = $("#myChart").get(0).getContext("2d");
				new Chart(ctx, {
					type: "line",
					data: data,
				});
			});
		</script>
		{% endblock content2 %}


		<!-- Piechart -->
		{% block content3 %}
		<p class="lead text-light">Pie Chart</p>
		{% endblock content3 %}

<!-- To do list -->

		{% block content4 %}
		<p class="lead text-light">Todo</p>
						<div class="px-3 py-3 border bordcol rounded">
							<p class="lead text-light">Write essay</p>
						</div>
						<div class="pt-md-3"></div>
						<div class="px-3 py-3 border bordcol rounded">
							<p class="lead text-light">Send email</p>
						</div>
						<div class="pt-md-3"></div>
						<div class="px-3 py-3 border bordcol rounded">
							<p class="lead text-light">Titus works on backend</p>
						</div>
						<div class="pt-md-3"></div>
						<div class="px-3 py-3 border bordcol rounded">
							<p class="lead text-light">Goblin</p>
						</div>
						<div class="pt-md-3"></div>
						<div class="px-3 py-3 border bordcol rounded">
							<p class="lead text-light">I want to eat some popeyes	</p>
						</div>
		{% endblock content4 %}

		<!-- Upcoming tests -->
		{% block content5 %}
		<p class="lead font-weight-bold d-block">Upcoming Tests</p>
						<div class="px-3 py-3 border bordcol rounded">
							<p class="lead text-light">English goblin analysis</p>
						</div>
						<div class="pt-md-3"></div>
						<div class="px-3 py-3 border bordcol rounded">
							<p class="lead text-light">Physics deez simulation</p>
						</div>
						<div class="pt-md-3"></div>
						<div class="px-3 py-3 border bordcol rounded">
							<p class="lead text-light">NaOH+HCl on deez</p>
						</div>
						<div class="pt-md-3"></div>
						<div class="px-3 py-3 border bordcol rounded">
							<p class="lead text-light">that kush is loud</p>
						</div>
						<div class="pt-md-3"></div>
						<div class="px-3 py-3 border bordcol rounded">
							<p class="lead text-light">I want to eat some popeyes	</p>
						</div>
		{% endblock content5 %}


		<!-- grades from recent tests -->
		{% block content6 %}
		<div class="border bordcol rounded" style="height: 100px"></div>
		{% endblock content6 %}

		<!-- Student Reflection Record -->
		{% block content7 %}
		<div id="carouselExampleControls" class="carousel slide border bordcol rounded px-5 py-5" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active px-4 py-4">
				  <h4 style="color: #fff;">I hate chinese.</h4>
				  <p>TEXT</p>
			  </div>
			  <div class="carousel-item  px-4 py-4">
				<h4 style="color: #fff;">I dislike chinese.</h4>
				  <p>TEXT</p>
			  </div>
			  <div class="carousel-item px-4 py-4">
				<h4 style="color: #fff;">Chinese is alright.</h4>
				  <p>TEXT</p>
			  </div>
			  <div class="carousel-item px-4 py-4">
				<h4 style="color: #fff;">I enjoy chinese.</h4>
				  <p>TEXT</p>
			  </div>
			  <div class="carousel-item px-4 py-4">
				<h4 style="color: #fff;">I love Chinese.</h4>
				  <p>TEXT</p>
			  </div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" >
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			</a>
		  </div>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
		</div>
		{% endblock content7 %}
		<!-- </div> -->
	</body>
</html>
