{% extends 'dashboard/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
<head>
    <script>
            function closeSidebar() {
                    document.getElementById("sidenav").style.display = "none";
                }

    </script> 
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />    
</head>
<body>
            <!-- Content starts here -->
            <div class="col-md-10 mainbody containerfr" id="blur">
                <div class="container-fluid p-0">
                    <h1 class="pt-4">Profile</h1>
                </div>
                <div class="p-3"></div>
                <div class="container-fluid p-md-5 p-3 border bordcol-overrides rounded">
                    <div class=" pt-2"></div>
                    <h3 class="pfptitle d-none d-lg-block">Account Overview</h3>
                    <div class="pfppref"></div>
                    <div class="pt-md-4"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <h4>Username</h4>
                            </div>
                            <div class="col-6">
                                
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <h4>Email</h4>
                            </div>
                            <div class="col-6">
                                
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="pt-md-4"></div>
                    <h3 class="pfptitle d-none d-lg-block">Change Password</h3>
                    <div class="pfppref"></div>
                    <div class="pt-md-4"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <h4>Current Password</h4>
                            </div>
                            <div class="col-6">
                                
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <h4>New Password</h4>
                            </div>
                            <div class="col-6">
                                
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <h4>Confirm New Password</h4>
                            </div>
                            <div class="col-6">
                                
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="pt-md-4"></div>
                    <div class="row">
                            <div class="container fluid edit1 col-2">
                                <div>
                                    <a href="editprofile.html" class="edit3">Confirm</a>
                                </div>
                            </div>

                            <div class="container fluid col-1">
                            </div>

                            <div class="container fluid edit1 col-2">
                                <div>
                                    <a href="editprofile.html" class="edit3">Discard</a>
                                </div>
                            </div>

                            <div class="container fluid col-5">
                            </div>
                    </div>

                </div>
            </div>
            {% endblock content %}
</body>

