{% extends 'dashboard/base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
	{% block content %}
	<head>
		<link rel="stylesheet" href="{% static 'css/improvements.css' %}" />
	</head>
	<!--Content section starts here-->
	<div id="improvementscontent" class="mainbody col-md-10 pt-3">
		<h1>Your Improvement Areas</h1>
		<nav class="nav nav-pills nav-justified px-5">
			<a class="nav-item nav-link active" href="/improvements">Improvement Name 1</a>
			<a class="nav-item nav-link" href="/improvements2">Improvement Name 2</a>
			<a class="nav-item nav-link" href="/improvements3">Improvement Name 3</a>
		</nav>
		<div class="container-fluid p-3">
			<div class="row">
				<div class="col-lg-6">
					<div class="improvement">
						<h2>Improvement Name 1</h2>
						<div id="improvement">
							Unfortunately, your scores in "improvement name" are lower than what you might like,
							especially in _____. Fixing this should help you improve your overall ____ score, as
							well as give you valuable skills that transfer to other subjects!
						</div>
					</div>
					<br />
					<div class="improvement">
						<h2 class="pt-3">Your "Improvement Name 1" Data</h2>
						<img src="{% static 'img/empty.png' %}" alt="" class="img-fluid improvementdata" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="improvement">
						<h2>Improve your "Improvement Name"</h2>
						<!-- Video teaching you how to improve (from interviews)-->
						<img src="{% static 'img/empty.png' %}" alt="" class="img-fluid improvementdata" />
						<div id="improvement" class="p-4 mt-2">
							_____ can be difficult to master. There's a lot of skills that you have to grasp when
							completing your Criterion _ tasks. This video contains advice from a tenured IB
							teaching professional, who should teach you everything you need to know to boost your
							Criterion _ grade!
						</div>
					</div>
					<br />
					<div class="improvement">
						<h2 class="pt-3">Your Progress</h2>
						<img src="{% static 'img/empty.png' %}" alt="" class="img-fluid improvementdata" />
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock content %}
	<!-- </div>
    </div>
</body> -->
</html>
