{% extends 'dashboard/base.html' %} {% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" href="{% static 'css/improvement.css' %}" />
</head>

<body>
	<div class="container-fluid col-md-10 p-5 mainbody" >
		<div class="row m-5 p-4">
			<div class="col-6">
				<div class="h3">YOUR _____ IMPROVEMENT AREAS</div>
				<div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, aliquam? Veritatis ipsa blanditiis consequuntur velit. Nam minima reiciendis voluptas eius dolorem sint doloribus minus aut, unde eos exercitationem repellendus quia!</div>
			</div>
			<div class="col-6 d-flex justify-content-center">
				<img src="{% static 'img/empty.png' %}" alt="" class="img-fluid improvementdata" style="max-height: 14em;"/>
			</div>
		</div>
		<div class="row overview m-5 p-4"> <!--Fix coloring so that it fills the whole space-->
			<div class="col-3">
				<div class="h5">IMPROVEMENT OVERVIEW</div>
				<div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quidem architecto eum soluta recusandae quod quasi voluptates accusamus, itaque magni dicta? Nam sequi nostrum id architecto nobis. A, velit quo!</div>
				<br>
				<div class="p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque aliquam explicabo, velit molestias beatae excepturi exercitationem fugit neque maiores suscipit quos vel cumque distinctio incidunt nostrum eveniet quas enim. Voluptatum?</div>
			</div>
			<div class="col-9 d-flex justify-content-center">
				<img src="{% static 'img/empty.png' %}" alt="" class="img-fluid improvementdata" style="max-height: 20em;" />
			</div>
		</div>
		<div class="row areas m-5 p-5">
			<!--Figure out how to make these flippable cards (try not to use javascript (its possible without (animations can be added later, u just need the basic flipping/ showing two sides))-->
			<div class="col-4 px-2">
				<div class="h5">AREA ONE</div>
				<div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officia consectetur provident quo perspiciatis fugiat possimus inventore quaerat quidem doloremque adipisci vero eaque nobis esse cum quas fuga corrupti minima!</div>
			</div>
			<div class="col-4 px-2">
				<div class="h5">AREA TWO</div>
				<div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officia consectetur provident quo
					perspiciatis fugiat possimus inventore quaerat quidem doloremque adipisci vero eaque nobis esse cum quas fuga
					corrupti minima!</div>
			</div>
			<div class="col-4 px-2">
				<div class="h5">AREA THREE</div>
				<div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officia consectetur provident quo
					perspiciatis fugiat possimus inventore quaerat quidem doloremque adipisci vero eaque nobis esse cum quas fuga
					corrupti minima!</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}

</html>