{% extends 'dashboard/base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
	{% block content %}
	<head>
		<link rel="stylesheet" href="{% static 'css/improvements.css' %}" />
		<script src="{% static 'frontend\improvements.js' %}"></script>
	</head>
	<!--Content section starts here-->
	<div id="improvementscontent blur containerfr" class="mainbody col-md-10 pt-5">
	 	<div class="row">
			<div class="col">
				<h1>Your Improvement Areas</h1>
				<div class="p-1"></div>
				<p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					In gravida arcu risus, ac malesuada tortor faucibus nec. Maecenas sed diam quis eros placerat vestibulum id vitae augue. Etiam ligula lorem, 
					faucibus non tortor tincidunt, scelerisque venenatis risus.</p1>
			</div>
			<div class="col">
				<img src="{% static 'img/empty.png' %}" alt="" class="img-fluid improvementdata" style="max-height: 10em;" />
			</div>
		</div>
		<div class="p-5"></div>
		<div class="container-fluid p-3 caro">
			<div class="improvlight">
				<div class="p-4"></div>
				<div class="wrapper">
					<div class="slider">1</div>
					<div class="slider">2</div>
					<div class="slider">3</div>
					<div class="slider">4</div>
					<div class="slider">5</div>
				</div>
				<div class="p-4"></div>
			</div>
			<div class="p-4"></div>
			<div class="row">
				<div class="col-4">
					<div class="area1 border bordcol-overrides">
						<p style="margin-top:0.5em; margin-bottom:0.5em;">Area One</p>
					</div>
					<div class="p-1"></div>
					<p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						In gravida arcu risus, ac malesuada tortor faucibus nec. Maecenas sed diam quis eros placerat vestibulum id vitae augue. Etiam ligula lorem, 
						faucibus non tortor tincidunt, scelerisque venenatis risus.</p1>
				</div>
				<div class="col-4">
					<div class="area1 border bordcol-overrides">
						<p style="margin-top:0.5em; margin-bottom:0.5em;">Area One</p>
					</div>
					<div class="p-1"></div>
					<p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						In gravida arcu risus, ac malesuada tortor faucibus nec. Maecenas sed diam quis eros placerat vestibulum id vitae augue. Etiam ligula lorem, 
						faucibus non tortor tincidunt, scelerisque venenatis risus.</p1>
				</div>
				<div class="col-4">
					<div class="area1 border bordcol-overrides">
						<p style="margin-top:0.5em; margin-bottom:0.5em;">Area One</p>
					</div>
					<div class="p-1"></div>
					<p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						In gravida arcu risus, ac malesuada tortor faucibus nec. Maecenas sed diam quis eros placerat vestibulum id vitae augue. Etiam ligula lorem, 
						faucibus non tortor tincidunt, scelerisque venenatis risus.</p1>

				</div>
			</div>
		</div>
		
	</div>

	{% endblock content %}
	<!-- </div>
    </div>
</body> -->
</html>
