{% load static %}

<div class="container">
    <canvas id="mainchart"></canvas>
</div>

<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script>
    var config = {
        type: 'line',              //s define chart type
        data: {
            datasets: [{
                label: 'OA',
                data: {{ data|safe }},    // data defined in views.py
                borderColor: 'rgb(255,255,255)',         
            }],
            labels: {{ labels|safe }}          // labels defined in views.py
        },
        options: {                            // optional parameters - more can be found in the chart.js documentation 
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: true   // minimum y axes will be 0.
                    }
                }]
            },
            responsive: true,               // ensures the chart adjusts with window size 
        }
    };
  
    window.onload = function() {
      var ctx = document.getElementById('mainchart').getContext('2d');
      var myChart = new Chart(ctx, config);
    };
</script>