{% extends 'dashboard/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
<head>
    <script>
            function closeSidebar() {
                    document.getElementById("sidenav").style.display = "none";
                }

    </script> 
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />    
</head>
<body>
            <!-- Content starts here -->
            <div class="col-md-10 mainbody containerfr" id="blur">
                <div class="container-fluid p-0">
                    <h1 class="pt-4">Profile</h1>
                </div>
                <div class="container-fluid p-md-5 p-3 pfboxes">
                    <div class=" pt-2"></div>
                    <h3 class="pfptitle d-none d-lg-block">Account Overview</h3>
                    <div class="pfppref"></div>
                    <div class="pt-md-4"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <h4>Username</h4>
                            </div>
                            <div class="col-6">
                                <table id="gradestable"
                                    class="table table-striped table-borderless table-hover table-responsive col" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                            'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:white; font-size: 1em">
                                    <thead>
                                        <tr contenteditable="true">
                                            <td scope="col">titusyau123</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <h4>Email</h4>
                            </div>
                            <div class="col-6">
                                <table id="gradestable"
                                    class="table table-striped table-borderless table-hover table-responsive col" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                            'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:white; font-size: 1em">
                                    <thead>
                                        <tr contenteditable="true">
                                            <td scope="col">titusyau123@clownjuice</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <h4>Password</h4>
                            </div>
                            <div class="col-6">
                                <table id="gradestable"
                                    class="table table-striped table-borderless table-hover table-responsive col" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                            'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:white; font-size: 1em">
                                    <thead>
                                        <tr contenteditable="true">
                                            <td scope="col">ilovenotcoding@titus.com</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="pt-md-4"></div>
                    <div class="row">
                        <div class="container-fluid col">
                            <div class="edit1 col">
                                <div>
                                    <a href="editprofile.html" class="edit3">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endblock content %}
</body>

