{% extends 'dashboard/base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
        <link rel="icon" href="{% static 'img/logo_icon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/subjects.css' %}" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        />
        
    </head>
    <body>
        <div class="col-md-10 pt-3 container-fluid grades-container">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div
                    class="menu row flex-column align-content-center justify-content-center gy-3"
                >
                {% for subject in subjects %} 
                    <div class="subject col">
                        <a class="subject-text" href="{% url 'subject' subject.subjectname %}">
                            {{subject.subjectname}}</a>
                    </div>

                {% endfor %}
                </div>
            </div>
        </div>
        <script src="{% static 'frontend/subjects.js' %}"></script>
        {% endblock content %}
    </body>
</html>
